# --- Postgres container ------------------------------------------------------
POSTGRES_USER=dbt
POSTGRES_PASSWORD=dbt
POSTGRES_DB=warehouse

# --- dbt connection ----------------------------------------------------------
DBT_USER=dbt
DBT_PASSWORD=dbt
DBT_DBNAME=warehouse
DBT_SCHEMA=public
DBT_THREADS=4
