# --- Postgres container ------------------------------------------------------
POSTGRES_USER=dbt
POSTGRES_PASSWORD=dbt
POSTGRES_DB=warehouse
POSTGRES_PORT=5432

# --- dbt connection ----------------------------------------------------------
DBT_HOST=localhost
DBT_PORT=5432
DBT_USER=dbt
DBT_PASSWORD=dbt
DBT_DBNAME=warehouse
DBT_SCHEMA=public
DBT_THREADS=4
